build/
GroundStation-Release/
build-GroundStation-Desktop_Qt*

*.o
moc_*.cpp
ui_*.h
Makefile
qrc_*.cpp

*.swp

GroundStation-Qt/GroundStation.pro.user
GroundStation-Qt/GroundStation.pro.user.5291e27

GroundStation-Qt/GroundStation.pro.user
